@{
    ViewData["Title"] = "Studentų grupės";
}

<link rel="stylesheet" href="~/css/StudentGroups/studentGroups.css" />
<link rel="stylesheet" href="~/css/Admin/admin.css" />

<div class="table-container">
    <div class="table-container-diff">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Grupės pavadinimas</th>
                    <th>Kurso ID</th>
                </tr>
            </thead>

            <tbody>
                @*   @foreach (var item in Model)
                {
                <tr>
                <td>@item.ID</td>
                <td>@item.CourseRating</td>
                <td>@item.CourseId</td>
                </tr>
                } *@
            </tbody>
        </table>
    </div>
    <div class="table-container-diff" style="margin-top: 120px; margin-bottom: 50px;">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Grupės ID</th>
                    <th>Studento (Kontaktinės informacijos) ID</th>
                </tr>
            </thead>

            <tbody>
                @*   @foreach (var item in Model)
                {
                <tr>
                <td>@item.ID</td>
                <td>@item.CourseRating</td>
                <td>@item.CourseId</td>
                </tr>
                } *@
            </tbody>
        </table>

        <div class="form-container" style="margin-bottom: 250px">
            <div class="form-check-in">
                <h2>Pridėti esamą studentą į grupę</h2>
                <form class="form-check-in-form" asp-action="Create" method="post">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <input class="form-control" placeholder="Įveskite studento ID" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <input class="form-control" placeholder="Įveskite grupės ID" />
                    </div>
                    <div class="form-button">
                        <button type="submit" class="btn btn-primary">Pridėti</button>
                    </div>
                </form>
            </div>
                <div class="form-check-in">
                    <h2>Ištrinti esamą studentą iš grupės</h2>
                    <form class="form-check-in-form" asp-action="Create" method="post">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input class="form-control" placeholder="Įveskite ID" />
                        </div>
                        <div class="form-button">
                            <button type="submit" class="btn btn-primary">Ištrinti</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>