@using DAL.Models
@model List<ContactInfo>
@{
    ViewData["Title"] = "Studentų tvarkymas";
}

<link rel="stylesheet" href="~/css/Admin/admin.css" />

<div class="search-container">
    <form method="get" action="/searchStudent">
        <input type="search" id="search" placeholder="Įveskite ID" />
        <button type="submit" for="search">Ieškoti</button>
    </form>
</div>

<div class="container" style="margin-top: 200px">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Adresas</th>
                <th>Zip-kodas</th>
                <th>E-paštas</th>
                <th>Vardas</th>
                <th>Pavarde</th>
                <th>Telefono numeris</th>
                <th>Šalis</th>
                <th>Miestas</th>
            </tr>
        </thead>
        
        <tbody>
             @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Address</td>
                    <td>@item.Zipcode</td>
                    <td>@item.Email</td>
                    <td>@item.Name</td>
                    <td>@item.LastName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                </tr>
            } 
        </tbody>
    </table>

    <div class="form-container">
        <div class="form-check-in">
            <h2>Registruoti nauja studentą</h2>
            <form class="form-check-in-form" action="/create-student" method="post">
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite adresą" id="Address" name="Address" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite zip-kodą" id="Zipcode" name="Zipcode" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite e-paštą" id="Email" name="Email" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite vardą" id="Name" name="Name" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite pavardę" id="LastName" name="LastName" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite telefono numerį" id="PhoneNumber" name="PhoneNumber" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite šalį" name="Country" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite miestą" name="City" />
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-primary">Registruoti</button>
                </div>
            </form>
        </div>
        <div class="form-check-in">
            <h2>Atnaujinti esamą studentą</h2>
            <form class="form-check-in-form" action="Update" method="post">
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite ID" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite adresą" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite zip-kodą" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite e-paštą" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite vardą" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite pavardę" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite telefono numerį" />
                </div>
                <div class="form-group">
                    <label class="control-label"> </label>
                    <input class="form-control" placeholder="Įveskite šalį" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite miestą" />
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-primary">Atnaujnti</button>
                </div>
            </form>
        </div>
        <div class="form-check-in">
            <h2>Ištrinti esamą studentą</h2>
            <form class="form-check-in-form" asp-action="Create" method="post">
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite ID" />
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-primary">Ištrinti</button>
                </div>
            </form>
        </div>
    </div>
</div>

