@{
    ViewData["Title"] = "Kursų tvarkymas";
}

<link rel="stylesheet" href="~/css/Admin/admin.css" />

<div class="search-container">
    <form method="get" action="/searchStudent">
        <input type="search" id="search" placeholder="Įveskite ID" />
        <button type="submit" for="search">Ieškoti</button>
    </form>
</div>

<div class="container" style="margin-top: 200px">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Kurso pavadinimas</th>
                <th>Trukmė</th>
                <th>Kaina</th>
                <th>Dėstytojo vardas</th>
            </tr>
        </thead>

        <tbody>
            @*   @foreach (var item in Model)
            {
            <tr>
                <td>@item.ID</td>
                <td>@item.CourseName</td>
                <td>@item.Duration</td>
                <td>@item.Price</td>
                <td>@item.LecturerName</td>
            </tr>
            } *@
        </tbody>
    </table>

    <div class="form-container">
        <div class="form-check-in">
            <h2>Sukurti nauja kursą</h2>
            <form class="form-check-in-form" action="/create-course" method="post">
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite kurso pavadinimą" id="CourseName" name="CourseName" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite kurso trukmę (minutėmis)" id="Duration" name="Duration" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite kainą" id="Price" name="Price" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite dėstytojo vardą" id="TeacherName" name="TeacherName" />
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-primary">Sukurti</button>
                </div>
            </form>
        </div>
        <div class="form-check-in">
            <h2>Atnaujinti esamą kursą</h2>
            <form class="form-check-in-form" asp-action="Update" method="post">
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite ID" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite kurso pavadinimą" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite kurso trukmę (minutėmis)" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite kainą" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite dėstytojo vardą" />
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-primary">Atnaujinti</button>
                </div>
            </form>
        </div>
        <div class="form-check-in">
            <h2>Ištrinti esamą studentą</h2>
            <form class="form-check-in-form" asp-action="Create" method="post">
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" placeholder="Įveskite ID" />
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-primary">Ištrinti</button>
                </div>
            </form>
        </div>
    </div>
</div>
